<p> Zauważ, że jeśli podniesiesz do kwadratu ten nawias: <math xmlns="http://www.w3.org/1998/Math/MathML">
  <mrow>
    <mo>(</mo>
    <mi>a</mi>
    <mo>&#x22C5;</mo> <!-- Użycie znaku kropki środkowej jako operatora mnożenia -->
    <mi>b</mi>
    <mo>)</mo>
  </mrow>
</math>, to otrzymasz <math xmlns="http://www.w3.org/1998/Math/MathML">
  <msup>
    <mi>a</mi>
    <mn>2</mn>
  </msup>
  <mo>&#x22C5;</mo> <!-- Użycie znaku kropki środkowej jako operatora mnożenia -->
  <msup>
    <mi>b</mi>
    <mn>2</mn>
  </msup>
</math>. Czy podobnie będzie z dodawaniem? </p>