<div>
    Można to zapisać jako <math xmlns="http://www.w3.org/1998/Math/MathML">
  <mrow>
    <mi>a</mi>
    <mo>(</mo>
    <mi>a</mi>
    <mo>+</mo>
    <mi>b</mi>
    <mo>)</mo>
    <mo>+</mo>
    <mi>b</mi>
    <mo>(</mo>
    <mi>a</mi>
    <mo>+</mo>
    <mi>b</mi>
    <mo>)</mo>
    <mo>=</mo>
    <msup>
      <mi>a</mi>
      <mn>2</mn>
    </msup>
    <mo>+</mo>
    <mi>a</mi>
    <mi>b</mi>
    <mo>+</mo>
    <mi>b</mi>
    <mi>a</mi>
    <mo>+</mo>
    <msup>
      <mi>b</mi>
      <mn>2</mn>
    </msup>
  </mrow>
</math>. Możemy zauważyć, że <math xmlns="http://www.w3.org/1998/Math/MathML">
  <mrow>
    <mi>a</mi>
    <mi>b</mi>
  </mrow>
</math> i <math xmlns="http://www.w3.org/1998/Math/MathML">
  <mrow>
    <mi>b</mi>
    <mi>a</mi>
  </mrow>
</math> to, to samo. Po dodaniu wszystkiego wychodzi nam <math xmlns="http://www.w3.org/1998/Math/MathML">
  <mrow>
    <mo>(</mo>
    <msup>
      <mi>a</mi>
      <mn>2</mn>
    </msup>
    <mo>+</mo>
    <mn>2</mn>
    <mi>a</mi>
    <mi>b</mi>
    <mo>+</mo>
    <msup>
      <mi>b</mi>
      <mn>2</mn>
    </msup>
    <mo>)</mo>
  </mrow>
</math>.
</div>