<div>
    Podobnie wygląda sytuacja dla <math xmlns="http://www.w3.org/1998/Math/MathML">
  <msup>
    <mrow>
      <mo>(</mo>
      <mi>a</mi>
      <mo>-</mo>
      <mi>b</mi>
      <mo>)</mo>
    </mrow>
    <mn>2</mn>
  </msup>
</math>. Jest to <math xmlns="http://www.w3.org/1998/Math/MathML">
  <mrow>
    <mo>(</mo>
    <mi>a</mi>
    <mo>-</mo>
    <mi>b</mi>
    <mo>)</mo>
    <mo>&#x22C5;</mo> <!-- Middle dot for multiplication -->
    <mo>(</mo>
    <mi>a</mi>
    <mo>-</mo>
    <mi>b</mi>
    <mo>)</mo>
  </mrow>
</math>, czyli <math xmlns="http://www.w3.org/1998/Math/MathML">
  <mrow>
    <mi>a</mi>
    <mo>(</mo>
    <mi>a</mi>
    <mo>-</mo>
    <mi>b</mi>
    <mo>)</mo>
    <mo>-</mo>
    <mi>b</mi>
    <mo>(</mo>
    <mi>a</mi>
    <mo>-</mo>
    <mi>b</mi>
    <mo>)</mo>
    <mo>=</mo>
    <msup>
      <mi>a</mi>
      <mn>2</mn>
    </msup>
    <mo>-</mo>
    <mi>a</mi>
    <mi>b</mi>
    <mo>-</mo>
    <mi>b</mi>
    <mi>a</mi>
    <mo>+</mo>
    <msup>
      <mi>b</mi>
      <mn>2</mn>
    </msup>
  </mrow>
</math>, ponieważ <math xmlns="http://www.w3.org/1998/Math/MathML">
  <mrow>
    <mo>-</mo>
    <mi>b</mi>
    <mo>&#x22C5;</mo> <!-- Middle dot for multiplication -->
    <mo>-</mo>
    <mi>b</mi>
    <mo>=</mo>
    <msup>
      <mi>b</mi>
      <mn>2</mn>
    </msup>
  </mrow>
</math>. Z tego wychodzi, że <math xmlns="http://www.w3.org/1998/Math/MathML">
  <mrow>
    <msup>
      <mrow>
        <mo>(</mo>
        <mi>a</mi>
        <mo>-</mo>
        <mi>b</mi>
        <mo>)</mo>
      </mrow>
      <mn>2</mn>
    </msup>
    <mo>=</mo>
    <mo>(</mo>
    <msup>
      <mi>a</mi>
      <mn>2</mn>
    </msup>
    <mo>-</mo>
    <mn>2</mn>
    <mi>a</mi>
    <mi>b</mi>
    <mo>+</mo>
    <msup>
      <mi>b</mi>
      <mn>2</mn>
    </msup>
    <mo>)</mo>
  </mrow>
</math>
</div>